fvcore
gitignore_parser
huggingface_hub
ipykernel
jsonargparse
lightning
matplotlib
numpy
opencv-python
ood-metrics
pillow
pycocotools
pyyaml
scikit-learn
scipy
timm
torch
torchmetrics
torchvision
transformers
wandb
zipfile36